body {
    color: white;
    min-height: 100vh;
    background: url('../img/backgrounds/background-8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

p {
    margin-bottom: 0;
}

.title {
    margin: 2em auto;
}

.loader {
    display: block;
    position: relative;
    left: calc(50% - 50px);
    border: 5px solid rgba(225, 255, 255, 0.2);
    border-top: 5px solid rgba(225, 255, 255, 0.6);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader.ng-animate {
    transition:0s none;
    -webkit-transition:0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

#mainPanel {
    margin-top: 2em;
    position: relative;
    width: 100%;
}

weather-result.ng-animate {
    transition: visibility fade-in-out 10s;
    /*-webkit-transition:10s none;*/
    /*animation: 2s;
    -webkit-animation: 2s none;*/
}


@media (min-width: 576px) {
    form {
        padding-right:1em;
    }
    #search-button {
        margin-right: -1em;
        margin-left: 1em;
    }
}

@media (max-width: 577px) {
    #search-button {
        margin-top: 1em;
    }
}

.btn-outline-secondary {
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.form-control {
    background-color: rgba(0,0,0,0.1);
    outline: none;
    color: white;
}

.form-control:active, .form-control:focus {
    color: white;
    background-color: rgba(0,0,0,0.15);
    border-color: rgba(0,0,0,.15);
}

.container {
    width: 100%;
    max-width: 600px;
}

wf-weather-report-hourly img,
.w-currently .col-xs-12 img {
    max-width: 90%;
    padding: 5%;
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transition: transform ease-in-out .25s;
}

wf-weather-report-hourly {
    padding: 1em;
}

wf-weather-report-hourly p {
    margin: 0;
}

wf-weather-report-hourly:hover img,
.w-currently .col-xs-12:hover img {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform ease-in-out .25s;
}

wf-weather-report-hourly:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.60);
}

wf-weather-report-hourly:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, 0.50);
}

@media screen and (max-width: 575px) {
    body {
        font-size: 0.72em;
    }
}
