<div class="row">
    <div class="col-md-6 col-md-offset-3" ng-controller="homeController">
        <h4>Forecast by City</h4>
        <form ng-submit="submit()">
            <input type="text" ng-model="address" class="form-control" />
            <input type="submit" value="Get forecast" class="btn btn-primary" />
        </form>

        <div ng-controller="forecastController" ng-show="submitted">

            <div ng-switch on="timeframe">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>{{ formattedAddress() }}</h3>
                            </div>
                            <div class="col-md-6">
                                <a ng-click="timeframe = '24h'">Right now</a> |
                                <a ng-click="timeframe = '7days'">7 days</a>
                            </div>
                        </div>

                        <div ng-switch-default>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Right now: {{ weatherResult.currently.summary }} </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="img/{{weatherResult.currently.icon}}.png" />
                                </div>
                                <div class="col-sm-10">
                                    <h3>{{ convertToCelsius(weatherResult.currently.temperature) }}&deg;C  <small> / feels like: {{ convertToCelsius(weatherResult.currently.apparentTemperature)}}&deg;C</small></h3>
                                    <p>Precipitation: {{ convertToPercentage(weatherResult.currently.precipProbability) }}%</p>
                                    <p>Wind speed: {{ weatherResult.currently.windSpeed }} km/h</p>
                                </div>
                            </div>
                            <hr />
                            <div class="row text-center">

                                <div class="col-sm-2" ng-repeat="w in
                                [
                                weatherResult.hourly.data[1],
                                weatherResult.hourly.data[2],
                                weatherResult.hourly.data[3],
                                weatherResult.hourly.data[4],
                                weatherResult.hourly.data[5],
                                weatherResult.hourly.data[6],
                                ] track by $index">
                                <weather-report-hourly weather-result="w" convert-to-standard="convertToCelsius(temperature)" convert-to-date="convertToDate(date)" convert-to-percentage="convertToPercentage(precip)" date-format="HH:mm" timeframe="{{timeframe}}"></weather-report-hourly>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="7days">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Today ({{ convertToDate(weatherResult.daily.data[1].time) | date: "EEE" }}): {{ weatherResult.daily.data[1].summary }} </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="img/{{weatherResult.daily.data[0].icon}}.png" />
                            </div>
                            <div class="col-sm-10">
                                <h3>Min: {{ convertToCelsius(weatherResult.daily.data[1].temperatureMin) }}&deg;C  <span class="text-muted"> / Max: {{ convertToCelsius(weatherResult.daily.data[1].temperatureMax)}}&deg;C</span></h3>
                                <p>Precipitation: {{ convertToPercentage(weatherResult.daily.data[1].precipProbability) }}%</p>
                                <p>Wind speed: {{ weatherResult.daily.data[1].windSpeed }} km/h</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row text-center">
                            <div class="col-sm-2" ng-repeat="w in
                            [
                            weatherResult.daily.data[2],
                            weatherResult.daily.data[3],
                            weatherResult.daily.data[4],
                            weatherResult.daily.data[5],
                            weatherResult.daily.data[6],
                            weatherResult.daily.data[7]
                            ] track by $index">
                            <weather-report-daily weather-result="w" convert-to-standard="convertToCelsius(temperature)" convert-to-date="convertToDate(date)" convert-to-percentage="convertToPercentage(precip)" date-format="EEEE" timeframe="{{timeframe}}"></weather-report-daily>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>
</div>
</div>
