<div ng-if="mainCtrl.submitted " id='mainPanel'>
    <div class="loader" ng-if="mainCtrl.loading"></div>
    <div ng-show="!mainCtrl.loading" class="fade-in" ng-controller="switchUnitsController as switchUnitsCtrl">

        <div class="row w-header text-center text-sm-left">
            <div class="col">
                <h3 class="text-center text-sm-left float-left">{{ mainCtrl.formattedAddress }}</h3>

                <div class="btn-group toggle float-right" >
                    <label class="btn btn-secondary btn-sm toggle" ng-class="selectCelsius(unitSystem)">
                        <input type="radio" ng-model="unitSystem" value="celsius"
                               name="options" id="celsius" autocomplete="off"/>
                        °C
                    </label>
                    <label class="btn btn-secondary btn-sm toggle" ng-class="selectFahrenheit(unitSystem)">
                        <input type="radio" ng-model="unitSystem" value="fahrenheit"
                               name="options" id="fahrenheit" autocomplete="off" ng-checked/>
                        °F
                    </label>
                </div>
            </div>
        </div>
        <div class="row w-currently text-center">
            <div class="col-xs-12 col-md-3 col-sm-4">
                <img ng-src="img/{{mainCtrl.renderResult.icon}}.png?" />
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 text-sm-left">
                <h4>{{ mainCtrl.renderResult.summary }} {{ mainCtrl.renderResult.temperature }}&deg;  <small> / feels like {{ mainCtrl.renderResult.temperature}}&deg;</small></h4>
                <p>Precipitation: {{ mainCtrl.renderResult.precip }}%</p>
                <p>Wind speed: {{ mainCtrl.renderResult.windSpeed }} km/h</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <div class="btn-group toggle float-right" ng-controller="switchViewController as switchViewCtrl">
                <label class="btn btn-secondary btn-sm toggle" ng-class="showHourly(selectedView)">
                    <input type="radio" ng-model="selectedView" value="hourly"
                           name="options" id="option1" autocomplete="off"/>
                    Hourly
                </label>
                <label class="btn btn-secondary btn-sm toggle" ng-class="showDaily(selectedView)">
                    <input type="radio" ng-model="selectedView" value="daily"
                           name="options" id="option2" autocomplete="off" ng-checked/>
                    Daily
                </label>
            </div>

                <!-- <wf-local-time timezone-offset="mainCtrl.timezoneOffset">
            </wf-local-time> -->
            <!-- <a ng-click="timeframe = '24h'">Right now</a> |
            <a ng-click="timeframe = '7days'">7 days</a> -->
        </div>
    </div>

    <div ng-switch="selectedView">
        <div ng-switch-when="hourly" class="fade-in">
            <wf-weather-wrapper-hourly class="row no-gutters align-items-center w-hourly"
                                ng-if="mainCtrl.weatherResult"
                                timezone-offset="mainCtrl.timezoneOffset"
                                weather-result="mainCtrl.weatherResult"></wf-weather-wrapper-hourly>
        </div>

        <div ng-switch-when="daily" class="fade-in">
            <wf-weather-wrapper-daily class="row no-gutters align-items-center w-hourly"
                                ng-if="mainCtrl.weatherResult"
                                timezone-offset="mainCtrl.timezoneOffset"
                                weather-result="mainCtrl.weatherResult"></wf-weather-wrapper-daily>
        </div>
    </div>

</div>
</div>
